body{
    background-color:#1a1a1a;
    font-family: 'Poppins', sans-serif;
}

.container{
    margin:auto;
    width:1080px;
    height:auto;
}
.head-title h1{
    color:#1db954;
    text-align:center;
}


.main-container{
    
    display:flex;
    width:1080px;
    height:560px;

}
.song-container{
    margin-left:16px;
    margin-right:16px;
    width:50%;
    height:100%;
    background-color:#595959;
}
.mostplayer-container{
    margin-left:16px;
    margin-right:16px;
    width:25%;
    height:100%;
    background-color:#595959;
}

.playlist-container{
    margin-left:16px;
    margin-right:16px;
    width:25%;
    height:100%;
    background-color:#595959;
}
